{{ if .Site.Data.licence.enable }}
    {{"<!-- Start Licence -->" | safeHTML}}
    <section id="licence" class="section section-bg">
        <div class="container">
            <div class="row">

                {{"<!-- section title --> " | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.licence.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.licence.headingSpan }} {{ . }} {{ end }}</span>
                    </h2>
                    <div class="border"></div>
                </div>
                {{"<!-- /section title --> " | safeHTML}}

                {{"<!-- Contact Details --> " | safeHTML}}
                <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                    {{ with .Site.Data.licence.title }}<h3>{{ . }}</h3> {{ end }}
                    {{ with .Site.Data.licence.content }} <p> {{ . }} </p> {{ end }}
                </div>
                {{"<!-- Contact Form --> " | safeHTML}}
                <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <form id="licence-form" method="post" role="form">

                        <div class="form-group">
                            <input type="text" placeholder="Your Name" class="form-control" name="licence-name" id="licence-name">
                        </div>

                        <div class="form-group">
                            <input type="email" placeholder="Your Email" class="form-control" name="licence-email" id="licence-email">
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="Company Name" class="form-control" name="licence-company" id="licence-company">
                        </div>

                        <div id="licence-success" class="licence-success">
                        </div>

                        <div id="licence-fail" class="error">
                            <!--googleoff: snippet--> Sorry, something went wrong! <!--googleon: snippet-->
                        </div>

                        <div id="lc-submit">
                            <input type="submit" id="licence-submit" class="btn btn-transparent" value="Submit">
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </section>
    {{"<!-- /licence -->" | safeHTML}}
{{ end }}